

.example-spacer {
    flex: 1 1 auto;
  }




h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    text-align: center;
    
}

p{
    width: 80px;
    margin-right: 10;
    margin-left: 10;
    display: flex;
    padding: 10;
}

.nav{
    display: flex;
    flex-direction: row;
}